---
import { twMerge } from 'tailwind-merge';
import { Icon } from 'astro-icon/components';

import { Color, Jury } from '#/libs/types';

interface Props {
  follower?: boolean;
  color: Color;
  name: Jury;
}

const { follower = true, color = Color.blue, name } = Astro.props;
---

<div
  x-data="cursor"
  x-bind:data-right="isRightSide ? 'true' : null"
  data-follower={follower ? 'true' : null}
  data-name={name}
  class={twMerge(
    'z-50 text-red-600 relative group gap pointer-events-none data-[follower]:fixed data-[follower]:top-0 data-[follower]:left-0',
    Color.blue === color && 'text-blue-mid',
    Color.pink === color && 'text-pink-mid',
    Color.green === color && 'text-green-mid',
    Color.mustard === color && 'text-mustard-mid',
    Color.purple === color && 'text-purple-mid'
  )}
>
  <Icon
    name="cursor"
    class="group-data-[right]:scale-x-[1] scale-x-[-1] transition-all"
  />
  <div
    class={twMerge(
      'absolute rounded-full px-2 py-1 border-2 rounded-tl-none group-data-[right]:rounded-tr-none group-data-[right]:rounded-tl-full text-xs font-medium text-white top-4 left-5 group-data-[right]:left-auto group-data-[right]:right-5',
      color === Color.blue && 'border-blue-dark bg-blue-mid',
      color === Color.pink && 'border-pink-dark'
    )}
  >
    @{name}
  </div>
</div>
<script>
  import gsap from 'gsap';
  import Alpine from 'alpinejs';
  import type { AlpineStore } from '#/libs/types';

  Alpine.data('cursor', () => ({
    isRightSide: false,

    init() {
      if (this.$root.dataset.follower) {
        window.addEventListener('mousemove', (e) => {
          const store = this.$store.global as AlpineStore;
          if (store?.cursor !== this.$root.dataset.name) return;

          this.isRightSide = e.clientX > window.innerWidth * 0.9;

          gsap.set(this.$root, { xPercent: this.isRightSide ? -100 : 0 });

          gsap.to(this.$root, {
            duration: 0.1,
            x: e.clientX,
            y: e.clientY,
            scale: store.hovering ? 1.2 : 1,
            ease: 'power2.out',
          });
        });
      }
    },
  }));
</script>
