---
import { twMerge } from 'tailwind-merge';

interface Props {
  class?: string;
  speed?: number;
}

const { class: className = '', speed = 5 } = Astro.props;
---

<div
  x-data="marquee"
  data-speed={speed}
  class={twMerge('relative w-full overflow-hidden', className)}
>
  <div class="flex items-center w-fit will-change-transform">
    {
      Array.from({ length: 4 }).map(() => (
        <div class="flex items-center gap-6 px-3 whitespace-nowrap">
          <slot />
        </div>
      ))
    }
  </div>
</div>
<script>
  import gsap from 'gsap';
  import Alpine from 'alpinejs';

  Alpine.data('marquee', () => ({
    init() {
      const span = this.$root.querySelector('span');
      if (!span) return;

      gsap.to(this.$root.children[0], {
        xPercent: -25,
        duration: this.$root.dataset.speed,
        repeat: -1,
        ease: 'linear',
      });
    },
  }));
</script>
