---
import { Icon } from 'astro-icon/components';
import { Color } from '#/libs/types';
import { twMerge } from 'tailwind-merge';

interface Props {
  class?: string;
  color?: Color;
  name: string;
  size: 'large' | 'medium' | 'small' | 'tiny';
}

const {
  color,
  name = 'cursor',
  size = 'medium',
  class: className,
} = Astro.props;
---

<div
  class={twMerge(
    'rounded-full text-white flex items-center justify-center',
    size === 'large' && 'h-32 w-32 lg:h-80 lg:w-80 text-4xl lg:text-8xl',
    size === 'medium' && 'h-16 w-16 lg:h-20 lg:w-20 text-xl lg:text-2xl',
    size === 'small' && 'h-10 w-10 text-base',
    size === 'tiny' && 'h-8 w-8 text-xs',
    Color.black === color && 'bg-black dark:bg-beige dark:text-black',
    Color.blue === color && 'bg-blue-mid text-blue-light',
    Color.pink === color && 'bg-pink-mid text-pink-light',
    Color.green === color && 'bg-green-mid text-green-light',
    Color.mustard === color && 'bg-mustard-mid text-mustard-light',
    Color.purple === color && 'bg-purple-mid text-purple-light',
    Color.orange === color && 'bg-orange-mid text-orange-light',
    className
  )}
>
  <Icon name={name} />
</div>
