---
// This component is used to wrap a child element and apply a rotate effect to it.
// The rotate can be controlled by the scroll progress of the website or looped infinitely.

interface Props {
  loop?: boolean;
}

const { loop = false } = Astro.props;
---

<div
  x-data="spin"
  data-loop={loop ? 'true' : null}
  class="flex-none w-fit h-fit"
>
  <slot />
</div>
<script>
  import Alpine from 'alpinejs';
  import gsap from 'gsap';
  import type { AlpineStore } from '#/libs/types';

  Alpine.data('spin', () => ({
    init() {
      if (this.$root.dataset.loop) {
        gsap.to(this.$root, {
          rotate: 360,
          duration: 4,
          repeat: -1,
          ease: 'linear',
        });
        return;
      }

      Alpine.effect(() => {
        if (this.$root.dataset.loop) return;

        gsap.to(this.$root, {
          rotate:
            ((this.$store.global as AlpineStore).scrollProgress * 20) % 360,
          duration: 1,
          ease: 'linear',
        });
      });
    },
  }));
</script>
