---
import Piscine from '#/layouts/Piscine.astro';
import Magnetic from '#/components/Home/Animated/Magnetic.astro';
import Button from '#/components/Home/Widgets/Button.astro';
---

<Piscine>
  <div class="flex-1 flex flex-col items-center gap-12 justify-center">
    <Magnetic class="relative">
      <span
        class="font-black absolute z-0 top-0 left-0 transform -translate-x-1/3 -translate-y-1/2 text-7xl lg:text-9xl text-black dark:text-beige"
        >404</span
      >
      <div class="h-48 2xl:h-96 relative">
        <img src="/meow.png" class="h-full w-auto object-contain" />
      </div>
    </Magnetic>
    <Button text="Retour à l'accueil" href="/" color="black" />
  </div>
</Piscine>
