---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';

import Main from '#/layouts/Main.astro';
import Hero from '#/components/Hero.astro';
import Marquee from '#/components/Widgets/Marquee.astro';

const sections = await getCollection('section');
---

<Main>
  <Hero />
  <!-- <Marquee text="Lorem ipsum dolor mesiter zaez" /> -->
  {
    sections.map((section) => (
      <div class="w-full h-[65vh] lg:h-[calc(100vh-40px)] bg-red-700 sticky top-0">
        <h2>{section.id}</h2>
      </div>
    ))
  }

  <!-- <Icon name="smile" class="text-red-500 w-96 h-96" /> -->
  <div class="relative w-full h-[65vh] lg:h-[calc(100vh-40px)] bg-black">
    Click me section
  </div>
</Main>
