---
import { getCollection } from 'astro:content';

import Main from '#/layouts/Main.astro';
import Hero from '#/components/Hero.astro';
import Section from '#/components/Section.astro';
import BottomSection from '#/components/BottomSection.astro';

const sections = await getCollection('section');
---

<Main>
  <Hero />
  {sections.map((section) => <Section data={section.data} />)}
  <BottomSection />
</Main>
