<div class="-mx-4 xs:-mx-8 w-screen relative z-10 px-4 xs:px-8">
  <div
    class="rounded-[60px] relative w-full h-[65vh] lg:h-[calc(100vh-40px)] bg-black"
  >
    Click me section
  </div>
  <div class="h-1/2 w-full -z-10 bottom-0 absolute left-0 bg-beige"></div>
</div>
