---
import Tag from '#/components/Widgets/Tag.astro';
---

<footer
  x-intersect.once="console.log('footer is fully visible')"
  class="pt-10 bg-beige relative w-full flex items-center justify-between"
>
  <div class="flex-1">
    <Tag text="La piscine" />
  </div>
  <div class="w-12 text-center font-bold text-xs">100%</div>
  <div class="flex-1 text-xs text-right font-bold">
    @{new Date().getFullYear()}
  </div>
</footer>
