---
// This component is used to display the footer of the website.

import Tag from '#/components/Widgets/Tag.astro';
---

<footer
  x-intersect.once="console.log('footer is fully visible')"
  class="relative z-10 pt-10 flex-none w-full flex items-center justify-between text-black dark:text-white"
>
  <div class="flex-1">
    <a href="/piscine">
      <Tag text="La piscine" />
    </a>
  </div>
  <div class="w-12 text-center font-bold text-xs">100%</div>
  <div class="flex-1 text-xs text-right font-bold">
    @{new Date().getFullYear()}
  </div>
</footer>
