---

---

<section
  class="h-[calc(100vh-80px)] lg:h-[calc(100vh-60px)] w-full flex flex-col"
>
  <div class="flex-1 flex flex-col lg:flex-row lg:items-center justify-between">
    <div>Texte</div>
    <div>Carte</div>
  </div>
  <div>Marquee</div>
</section>
