---
// Progress bar based on the scroll progress of the website.
// Progress is stored in the global store.
---

<div
  x-data
  x-bind:style="`width: ${$store.global.scrollProgress}%;`"
  class="h-1 bg-black dark:bg-beige overflow-hidden fixed top-0 left-0 z-40"
>
</div>
