---
import '../global.css';
import 'lenis/dist/lenis.css';

import Header from '#/components/Header.astro';
import Footer from '#/components/Footer.astro';
import Cursor from '#/components/Widgets/Cursor.astro';
import { Color, Jury } from '#/libs/types';

interface Props {
  title?: string;
}

const { title = 'Clash of Dev — La piscine' } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content="Un évènement organisé par @maislina_" />
  </head>
  <body
    class="relative bg-beige w-screen overflow-x-hidden min-h-screen flex flex-col px-4 xs:px-8 py-10 lg:py-5"
  >
    <Header />
    <slot />
    <Footer />
    <script src="../libs/utils.ts"></script>
  </body>
</html>
